# Gobal static resources
FCM_TOPIC_NAME_MOBILE = "mobileUsersNotifications"
# Twilio credentials  (MUST Change)
TWILIO_ACCOUNT_SID = "ACyourtwilioaccountsid"
TWILIO_AUTH_TOKEN = "yourtwilioauthenticationtoken"
TWILIO_MESSAGE_SERVICE_SID = "yourtwilioMessageServiceSID"