# Gobal static resources
FCM_TOPIC_NAME_MOBILE = "mobileUsersNotifications"
FILES_MS_HOST_BASE_URI = "http://localhost:3002"
# Sigma credentials     (MUST Change)
SIGMA_ACCOUNT_KEY = "sigma_account_key"